# Ignorar dependências de desenvolvimento locais
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignorar arquivos de configuração de IDE
.vscode/
.idea/

# Ignorar arquivos de build
build/

# Ignorar arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Ignorar variáveis de ambiente locais
.env